fastapi
uvicorn
google-cloud-texttospeech
google-generativeai
pandas
PyMuPDF
pdfplumber
pytesseract
opencv-python-headless
ffmpeg-python
moviepy
requests
beautifulsoup4
python-multipart
elevenlabs
openai
python-pptx
